/*** typography ***/

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;

}

h2{
  font-family:  'Nunito Sans', sans-serif;
  font-weight: 800;

}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

}

h4 {
  font-family: 'Poppins', sans-serif;

}

h6 {
  font-family: 'Varela', sans-serif;
  text-decoration: uppercase;

}

p {
  font-family: 'Varela', sans-serif;
  line-height: 28px;

}

ol {
  font-family: 'Varela', sans-serif;
  line-height: 28px;

}


/*** index.html hero ***/

.kara-taylor-nav a {
  float: left;
  padding-left: 2%;
  padding-top: 2%;
  font-family:  'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
  list-style-type: none;
  text-decoration: none;
  color: #F9F9FE;

}

.about-work-contact a {
  float: right;
  word-spacing: 5em;
  padding: 2%;
  padding-top: 2%;
  font-family:  'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
  list-style-type: none;
  text-decoration: none;
  color: #F9F9FE;
  background-color: a:hover;

}

.hero-container {
  background-image: url("/images/hero1.png");
  height: 650px;
  width: 1600px;
  background-size: cover;
  margin: 0 auto;

}

.hero-text h1 {
  bottom: 23%;
  color: #F9F9FE;
  font-size: 3em;
  left: 45%;
  line-height: 1.30;
  padding-left: 480px;
  padding-top: 277px;

}

.folio-container {
  float: right;
  width: 1600px;
  margin: 0 auto;
  padding-top: 10%;
  float: right;


}

.folio-text {
  color: #06232F;
  height: 350px;
  width: 1600px;
  padding-left: 25%;

}

.folio-text img {
float: right;

}

.folio-text a {
  color: #06232F;
}
