/*** style for site ***/

* {
  margin:0px;

}

body,html {
  width: 100%;
  height: 100%;
}
/*** typography ***/

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;

}

h2{
  font-family:  'Nunito Sans', sans-serif;
  font-weight: 800;

}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

}

h4 {
  font-family: 'Poppins', sans-serif;

}

h6 {
  font-family: 'Varela', sans-serif;
  text-decoration: uppercase;

}

p {
  font-family: 'Varela', sans-serif;
  line-height: 28px;

}

ol {
  font-family: 'Varela', sans-serif;
  line-height: 28px;

}

.kara-taylor-nav a {
  float: left;
  padding-left: 2%;
  padding-top: 2%;
  font-family:  'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
  list-style-type: none;
  text-decoration: none;
  color: #F9F9FE;

}



.about-work-contact a {
  float: right;
  word-spacing: 5em;
  padding: 2%;
  padding-top: 2%;
  font-family:  'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
  list-style-type: none;
  text-decoration: none;
  color: #F9F9FE;
  background-color: a:hover;

}

.hero-container {
  background-image: url("/images/hero1.png");
  height: 650px;
  width: 100%;
  max-width: 1600px;
  background-size: cover;
  margin: 0 auto;

}

.hero-container-project {
  background-image: url("/images/project-hero-background.png");
  height: 650px;
  width: 100%;
  max-width: 1600px;

}


.hero-text h1 {
  bottom: 23%;
  color: #F9F9FE;
  font-size: 3em;
  left: 45%;
  line-height: 1.30;
  padding-left: 480px;
  padding-top: 277px;

}

.folio-container {
  width: 100%;
  height: 350px;
  display: inline-block;
  padding-top: 13%;
  margin-left: 22%;

}

.folio-text {
  float: left;
  width: 700px;
  padding-top: 5%;
  padding-right: 3%;

}

.folio-text a {
  color: #06232F;

}

.folio-text p {
 font-size: 24px;
 line-height: 36px;
}

.folio-text h3 {
 font-size: 1.75em;
 line-height: 40px;
}

.busy-bus-container {
  width: 100%;
  height: 350px;
  display: inline-block;
  padding-top: 12%;
  margin-left: 22%;

}

.busy-bus-text {
  float: left;
  width: 700px;
  padding-top: 5%;
  padding-right: 3%;

}

.busy-bus-text a {
  color: #06232F;

}

.busy-bus-text p {
 font-size: 24px;
 line-height: 36px;
}

.busy-bus-text h3 {
 font-size: 1.75em;
 line-height: 40px;
}

.ksr-container {
  width: 100%;
  height: 350px;
  display: inline-block;
  padding-top: 12%;
  margin-left: 22%;
  padding-bottom: 13%;

}

.ksr-text {
  float: left;
  width: 700px;
  padding-top: 5%;
  padding-right: 3%;

}

.ksr-text a {
  color: #06232F;

}

.ksr-text p {
 font-size: 24px;
 line-height: 36px;
}

.ksr-text h3 {
 font-size: 1.75em;
 line-height: 40px;
}

.footer-container {
  background-image: url("/images/main-footer.png");
  height: 300px;
  width: 100%;
  max-width: 1600px;
  background-size: cover;
  margin: 0 auto;

}

.get-in-touch-main h2 {
  color: #F9F9FE;
  font-size: 4em;
  float: left;
  padding-top: 10%;
  padding-left: 30%;
}

.get-in-touch-main a i {
  color: #F9F9FE;
  decoration: none;
  float: right;
  padding-top: 12%;
  margin-right: 4%;
}



/* Desktops */

@media (min-width: 1199px) {

   .folio-container {
     width: 100%;
     font-size: 1em;
   }

   .folio-text {
     width: 25%;
     float: left;
   }

   .busy-bus-container {
     width: 100%;
     font-size: 1em;
   }

   .busy-bus-text {
     width: 25%;
     float: left;
   }

   .ksr-container {
     width: 100%;
     font-size: 1em;
   }

   .ksr-text {
     width: 25%;
     float: left;
   }

   .footer-container {
     width: 100%;
     font-size: 1em;
   }
}

/* Laptops */
@media (min-width: 991px) {

}


/* Tablets */
@media (min-width: 575px) {

}
